In [63]:
import pandas as pd
import os

# Creating District dataframe

In [64]:
# Creating dataframe for the General worksheet
general_df = pd.read_csv('General.csv')
general_df.head(10)

/var/folders/vj/ydfp032j4lbd0k8fpbwj1jh00000gn/T/ipykernel_45927/4167178773.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  general_df = pd.read_csv('General.csv')

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
5,10010020262002,School,Liberty Elementary School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,0.0,0.0,0.0,0.0,0.0,0.0,48.7,NaN,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10010030261001,School,Central Junior High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,MIDDLE SCHL,5 6 7 8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10010030262003,School,Central Elementary Grade School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# checking for na
general_df.isna().sum()

RCDTS                                                             1
Type                                                              0
School Name                                                     866
District                                                          1
City                                                              7
                                                               ...
Five Essential Survey Student Response Rate %                  2510
Five Essential Survey Teacher Response Rate %                  2510
Five Essential Survey Schools with over 50% Response Rate %    4388
Five Essential Survey Student Response Rate Median             4753
Five Essential Survey Teacher Response Rate Median             4753
Length: 390, dtype: int64

In [66]:
# filtering for district
district_general_df = general_df.loc[general_df['Type'] == "District"]

In [67]:
district_general_df.head(10)

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10010040260000,District,NaN,CUSD 4,Mendon,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10011720220000,District,NaN,Quincy SD 172,Quincy,Adams,UNIT,LARGE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
26,10050010260000,District,NaN,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
30,10090150260000,District,NaN,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
34,10090640260000,District,NaN,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
37,10092620260000,District,NaN,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,10690010260000,District,NaN,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
district_general_df.isna().sum()

RCDTS                                                            0
Type                                                             0
School Name                                                    865
District                                                         0
City                                                             6
                                                              ...
Five Essential Survey Student Response Rate %                  865
Five Essential Survey Teacher Response Rate %                  865
Five Essential Survey Schools with over 50% Response Rate %    500
Five Essential Survey Student Response Rate Median             865
Five Essential Survey Teacher Response Rate Median             865
Length: 390, dtype: int64

In [69]:
# dropping na with anything over 750
district_general_df = district_general_df.dropna(thresh=750, axis=1)

In [70]:
# filtering for district
district_general_df = general_df.loc[general_df['Type'] == "District"]
district_general_df = general_df.loc[general_df['District Type'].isin(["UNIT","HIGH SCHOOL"])]

In [71]:
list(district_general_df.columns)

['RCDTS',
 'Type',
 'School Name',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'School Type',
 'Grades Served',
 'Summative Designation',
 'State Senate District',
 'State Representative District',
 'Student Enrollment - Total',
 'Student Enrollment - White %',
 'Student Enrollment - Black or African American %',
 'Student Enrollment - Hispanic or Latino %',
 'Student Enrollment - Asian %',
 'Student Enrollment - Native Hawaiian or Other Pacific Islander %',
 'Student Enrollment - American Indian or Alaska Native %',
 'Student Enrollment - Two or More Races %',
 'Student Enrollment - EL %',
 'Student Enrollment - IEP %',
 'Student Enrollment - Low Income %',
 'Student Enrollment - Homeless %',
 'Total Number of School Days',
 'Student Attendance Rate',
 'Student Attendance Rate - Male',
 'Student Attendance Rate - Female',
 'Student Attendance Rate - White',
 'Student Attendance Rate - Black or African American',
 'Student Attendance Rate - Hispanic or Latino',
 'Student Attendance Rate - Asian',
 'Student Attendance Rate - Native Hawaiian or Other Pacific Islander',
 'Student Attendance Rate - American Indian or Alaska Native',
 'Student Attendance Rate - Two or More Races',
 'Student Attendance Rate - EL',
 'Student Mobility Rate',
 'Student Mobility Rate - Male',
 'Student Mobility Rate - Female',
 'Student Mobility Rate - White',
 'Student Mobility Rate - Black or African American',
 'Student Mobility Rate - Hispanic or Latino',
 'Student Mobility Rate - Asian',
 'Student Mobility Rate - Native Hawaiian or Other Pacific Islander',
 'Student Mobility Rate - American Indian or Alaska Native',
 'Student Mobility Rate - Two or More Races',
 'Student Mobility Rate - EL',
 'Student Mobility Rate - IEP',
 'Student Mobility Rate - Low Income',
 'Chronically Truant Students',
 'Student Chronic Truancy Rate',
 'High School Dropout Rate - Total',
 'High School Dropout Rate - Male',
 'High School Dropout Rate - Female',
 'High School Dropout Rate - White',
 'High School Dropout Rate - Black or African American',
 'High School Dropout Rate - Hispanic or Latino',
 'High School Dropout Rate - Asian',
 'High School Dropout Rate - Native Hawaiian or Other Pacific Islander',
 'High School Dropout Rate - American Indian or Alaska Native',
 'High School Dropout Rate - Two or More Races',
 'High School Dropout Rate - EL',
 'High School Dropout Rate - IEP',
 'High School Dropout Rate - Low Income',
 'High School 4-Year Graduation Rate - Total',
 'High School 4-Year Graduation Rate - Male',
 'High School 4-Year Graduation Rate - Female',
 'High School 4-Year Graduation Rate - White',
 'High School 4-Year Graduation Rate - Black or African American',
 'High School 4-Year Graduation Rate - Hispanic or Latino',
 'High School 4-Year Graduation Rate - Asian',
 'High School 4-Year Graduation Rate - Native Hawaiian or Other Pacific Islander',
 'High School 4-Year Graduation Rate - American Indian or Alaska Native',
 'High School 4-Year Graduation Rate - Two or More Races',
 'High School 4-Year Graduation Rate - EL',
 'High School 4-Year Graduation Rate - Children with Disabilities',
 'High School 4-Year Graduation Rate - Low Income',
 'High School 5-Year Graduation Rate - Total',
 'High School 5-Year Graduation Rate - Male',
 'High School 5-Year Graduation Rate - Female',
 'High School 5-Year Graduation Rate - White',
 'High School 5-Year Graduation Rate - Black or African American',
 'High School 5-Year Graduation Rate - Hispanic or Latino',
 'High School 5-Year Graduation Rate - Asian',
 'High School 5-Year Graduation Rate - Native Hawaiian or Other Pacific Islander',
 'High School 5-Year Graduation Rate - American Indian or Alaska Native',
 'High School 5-Year Graduation Rate - Two or More Races',
 'High School 5-Year Graduation Rate - EL',
 'High School 5-Year Graduation Rate - Children with Disabilities',
 'High School 5-Year Graduation Rate - Low Income',
 'High School 6-Year Graduation Rate - Total',
 'High School 6-Year Graduation Rate - Male',
 'High School 6-Year Graduation Rate - Female',
 'High School 6-Year Graduation Rate - White',
 'High School 6-Year Graduation Rate - Black or African American',
 'High School 6-Year Graduation Rate - Hispanic or Latino',
 'High School 6-Year Graduation Rate - Asian',
 'High School 6-Year Graduation Rate - Native Hawaiian or Other Pacific Islander',
 'High School 6-Year Graduation Rate - American Indian or Alaska Native',
 'High School 6-Year Graduation Rate - Two or More Races',
 'High School 6-Year Graduation Rate - EL',
 'High School 6-Year Graduation Rate - Children with Disabilities',
 'High School 6-Year Graduation Rate - Low Income',
 'Avg Class Size - Kindergarten',
 'Avg Class Size - 1',
 'Avg Class Size - 2',
 'Avg Class Size - 3',
 'Avg Class Size - 4',
 'Avg Class Size - 5',
 'Avg Class Size - 6',
 'Avg Class Size - 7',
 'Avg Class Size - 8',
 'Avg Class Size - High School',
 'Avg Class Size – All Grades',
 'Min per Day Math Grade 3',
 'Min per Day Math Grade 6',
 'Min per Day Math Grade 8',
 'Min per Day Scieince Grade 3',
 'Min per Day Scieince Grade 6',
 'Min per Day Scieince Grade 8',
 'Min per Day English Grade 3',
 'Min per Day English Grade 6',
 'Min per Day English Grade 8',
 'Min per Day social sciences Grade 3',
 'Min per Day social sciences Grade 6',
 'Min per Day social sciences Grade 8',
 'Avg Number of days of Physical Education Per Week Per Student',
 '% of Teachers - White',
 '% of Teachers - Black or African American',
 '% of Teachers - Hispanic or Latino',
 '% of Teachers - Asian',
 '% of Teachers - Native Hawaiian or Other Pacific Islander',
 '% of Teachers - American Indian or Alaska Native',
 '% of Teachers - Two or More Races',
 '% of Teachers - Unknown',
 '% of Teachers - Male',
 '% of Teachers - Female',
 'Total Teacher FTE',
 'Avg Teaching Exp',
 'Avg Teaching Exp - High Poverty',
 'Avg Teaching Exp - Low Poverty',
 'Bachelor Degree',
 'Bachelor Degree - High Poverty',
 'Bachelor Degree - Low Poverty',
 'Masters Degree',
 'Masters Degree - High Poverty',
 'Masters Degree - Low Poverty',
 'Pupil Teacher Ratio - Elementary',
 'Pupil Teacher Ratio - High School',
 'Pupil Certified Staff Ratio',
 'Pupil Admin Ratio',
 'Teacher Avg Salary',
 'Admin Avg Salary',
 'Teacher Retention Rate',
 'Principal Turnover within 6 Years',
 'Teacher Attendace Rate',
 'Teacher Evaluation Rate',
 '% Graduates enrolled in Post Secondary Institution  within 16 months',
 '% Graduates enrolled in Post Secondary Institution  within 12 months',
 '%8th Grade passing Algebra 1',
 '# of CTE Enrollment',
 '# of 10 graders who took advanced Courses',
 '# of 11 graders who took advanced Courses',
 '# of 12 graders who took advanced Courses',
 'Novice Teachers - High Poverty Schools',
 'Novice Teachers - Low Poverty Schools',
 'Teachers with Short-Term or Provisional License - High Poverty Schools',
 'Teachers with Short-Term or Provisional License - Low Poverty Schools',
 'Community College Remediation %',
 'Community College Remediation Reading %',
 'Community College Remediation Math %',
 'Community College Remediation Communication',
 '9th Grade on Track',
 '9th Grade on Track - White',
 '9th Grade on Track - Black or African American',
 '9th Grade on Track - Hispanic or Latino',
 '9th Grade on Track - Asian',
 '9th Grade on Track - Native Hawaiian or Other Pacific Islander',
 '9th Grade on Track - American Indian or Alaska Native',
 '9th Grade on Track - Two or More Races',
 '9th Grade on Track - IEP',
 '9th Grade on Track - EL',
 '9th Grade on Track - Low Income',
 'Chronic Absenteeism',
 'Chronic Absenteeism - White',
 'Chronic Absenteeism - Black or African American',
 'Chronic Absenteeism - Hispanic or Latino',
 'Chronic Absenteeism - Asian',
 'Chronic Absenteeism - Native Hawaiian or Other Pacific Islander',
 'Chronic Absenteeism - American Indian or Alaska Native',
 'Chronic Absenteeism - Two or More Races',
 'Chronic Absenteeism - IEP',
 'Chronic Absenteeism - EL',
 'Chronic Absenteeism - Low Income',
 'Number of Students who took AP classes Grade 9 Total',
 'Number White of Students who took AP classes Grade 9 Total',
 'Number Black or African American of Students who took AP classes Grade 9 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 9 Total',
 'Number Asian of Students who took AP classes Grade 9 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 9 Total',
 'Number American Indian or Alaska Native of Students who took AP classes Grade 9 Total',
 'Number Two or More Races of Students who took AP classes Grade 9 Total',
 'Number EL of Students who took AP classes Grade 9 Total',
 'Number Non-EL of Students who took AP classes Grade 9 Total',
 'Number IEP of Students who took AP classes Grade 9 Total',
 'Number Non-IEP of Students who took AP classes Grade 9 Total',
 'Number Low Income of Students who took AP classes Grade 9 Total',
 'Number Non-Low Income of Students who took AP classes Grade 9 Total',
 'Number of Students who took AP classes Grade 10 Total',
 'Number White of Students who took AP classes Grade 10 Total',
 'Number Black or African American of Students who took AP classes Grade 10 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 10 Total',
 'Number Asian of Students who took AP classes Grade 10 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 10 Total',
 'Number American Indian or Alaska Native of Students who took AP classes Grade 10 Total',
 'Number Two or More Races of Students who took AP classes Grade 10 Total',
 'Number EL of Students who took AP classes Grade 10 Total',
 'Number Non-EL of Students who took AP classes Grade 10 Total',
 'Number IEP of Students who took AP classes Grade 10 Total',
 'Number Non-IEP of Students who took AP classes Grade 10 Total',
 'Number Low Income of Students who took AP classes Grade 10 Total',
 'Number Non-Low Income of Students who took AP classes Grade 10 Total',
 'Number of Students who took AP classes Grade 11 Total',
 'Number White of Students who took AP classes Grade 11 Total',
 'Number Black or African American of Students who took AP classes Grade 11 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 11 Total',
 'Number Asian of Students who took AP classes Grade 11 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 11 Total',
 'Number American Indian or Alaska Native of Students who took AP classes Grade 11 Total',
 'Number Two or More Races of Students who took AP classes Grade 11 Total',
 'Number EL of Students who took AP classes Grade 11 Total',
 'Number Non-EL of Students who took AP classes Grade 11 Total',
 'Number IEP of Students who took AP classes Grade 11 Total',
 'Number Non-IEP of Students who took AP classes Grade 11 Total',
 'Number Low Income of Students who took AP classes Grade 11 Total',
 'Number Non-Low Income of Students who took AP classes Grade 11 Total',
 'Number of Students who took AP classes Grade 12 Total',
 'Number White of Students who took AP classes Grade 12 Total',
 'Number Black or African American of Students who took AP classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 12 Total',
 'Number Asian of Students who took AP classes Grade 12 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 12 Total',
 'Number American Indian or Alaska Native of Students who took AP classes Grade 12 Total',
 'Number Two or More Races of Students who took AP classes Grade 12 Total',
 'Number EL of Students who took AP classes Grade 12 Total',
 'Number Non-EL of Students who took AP classes Grade 12 Total',
 'Number IEP of Students who took AP classes Grade 12 Total',
 'Number Non-IEP of Students who took AP classes Grade 12 Total',
 'Number Low Income of Students who took AP classes Grade 12 Total',
 'Number Non-Low Income of Students who took AP classes Grade 12 Total',
 'Number of Students who took IB classes Grade 9 Total',
 'Number White of Students who took IB classes Grade 9 Total',
 'Number Black or African American of Students who took IB classes Grade 9 Total',
 'Number Hispanic or Latino of Students who took IB classes Grade 9 Total',
 'Number Asian of Students who took IB classes Grade 9 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 9 Total',
 'Number American Indian or Alaska Native of Students who took IB classes Grade 9 Total',
 'Number Two or More Races of Students who took IB classes Grade 9 Total',
 'Number EL of Students who took IB classes Grade 9 Total',
 'Number Non-EL of Students who took IB classes Grade 9 Total',
 'Number IEP of Students who took IB classes Grade 9 Total',
 'Number Non-IEP of Students who took IB classes Grade 9 Total',
 'Number Low Income of Students who took IB classes Grade 9 Total',
 'Number Non-Low Income of Students who took IB classes Grade 9 Total',
 'Number of Students who took IB classes Grade 10 Total',
 'Number White of Students who took IB classes Grade 10 Total',
 'Number Black or African American of Students who took IB classes Grade 10 Total',
 'Number Hispanic or Latino of Students who took IB classes Grade 10 Total',
 'Number Asian of Students who took IB classes Grade 10 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 10 Total',
 'Number American Indian or Alaska Native of Students who took IB classes Grade 10 Total',
 'Number Two or More Races of Students who took IB classes Grade 10 Total',
 'Number EL of Students who took IB classes Grade 10 Total',
 'Number Non-EL of Students who took IB classes Grade 10 Total',
 'Number IEP of Students who took IB classes Grade 10 Total',
 'Number Non-IEP of Students who took IB classes Grade 10 Total',
 'Number Low Income of Students who took IB classes Grade 10 Total',
 'Number Non-Low Income of Students who took IB classes Grade 10 Total',
 'Number of Students who took IB classes Grade 11 Total',
 'Number White of Students who took IB classes Grade 11 Total',
 'Number Black or African American of Students who took IB classes Grade 11 Total',
 'Number Hispanic or Latino of Students who took IB classes Grade 11 Total',
 'Number Asian of Students who took IB classes Grade 11 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 11 Total',
 'Number American Indian or Alaska Native of Students who took IB classes Grade 11 Total',
 'Number Two or More Races of Students who took IB classes Grade 11 Total',
 'Number EL of Students who took IB classes Grade 11 Total',
 'Number Non-EL of Students who took IB classes Grade 11 Total',
 'Number IEP of Students who took IB classes Grade 11 Total',
 'Number Non-IEP of Students who took IB classes Grade 11 Total',
 'Number Low Income of Students who took IB classes Grade 11 Total',
 'Number Non-Low Income of Students who took IB classes Grade 11 Total',
 'Number of Students who took IB classes Grade 12 Total',
 'Number White of Students who took IB classes Grade 12 Total',
 'Number Black or African American of Students who took IB classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took IB classes Grade 12 Total',
 'Number Asian of Students who took IB classes Grade 12 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 12 Total',
 'Number American Indian or Alaska Native of Students who took IB classes Grade 12 Total',
 'Number Two or More Races of Students who took IB classes Grade 12 Total',
 'Number EL of Students who took IB classes Grade 12 Total',
 'Number Non-EL of Students who took IB classes Grade 12 Total',
 'Number IEP of Students who took IB classes Grade 12 Total',
 'Number Non-IEP of Students who took IB classes Grade 12 Total',
 'Number Low Income of Students who took IB classes Grade 12 Total',
 'Number Non-Low Income of Students who took IB classes Grade 12 Total',
 'Number of Students who took Dual Credit classes Grade 9 Total',
 'Number White of Students who took Dual Credit classes Grade 9 Total',
 'Number Black or African American of Students who took Dual Credit classes Grade 9 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 9 Total',
 'Number Asian of Students who took Dual Credit classes Grade 9 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 9 Total',
 'Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 9 Total',
 'Number Two or More Races of Students who took Dual Credit classes Grade 9 Total',
 'Number EL of Students who took Dual Credit classes Grade 9 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 9 Total',
 'Number IEP of Students who took Dual Credit classes Grade 9 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 9 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 9 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 9 Total',
 'Number of Students who took Dual Credit classes Grade 10 Total',
 'Number White of Students who took Dual Credit classes Grade 10 Total',
 'Number Black or African American of Students who took Dual Credit classes Grade 10 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 10 Total',
 'Number Asian of Students who took Dual Credit classes Grade 10 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 10 Total',
 'Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 10 Total',
 'Number Two or More Races of Students who took Dual Credit classes Grade 10 Total',
 'Number EL of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 10 Total',
 'Number IEP of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 10 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 10 Total',
 'Number of Students who took Dual Credit classes Grade 11 Total',
 'Number White of Students who took Dual Credit classes Grade 11 Total',
 'Number Black or African American of Students who took Dual Credit classes Grade 11 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 11 Total',
 'Number Asian of Students who took Dual Credit classes Grade 11 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 11 Total',
 'Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 11 Total',
 'Number Two or More Races of Students who took Dual Credit classes Grade 11 Total',
 'Number EL of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 11 Total',
 'Number IEP of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 11 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number of Students who took Dual Credit classes Grade 12 Total',
 'Number White of Students who took Dual Credit classes Grade 12 Total',
 'Number Black or African American of Students who took Dual Credit classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 12 Total',
 'Number Asian of Students who took Dual Credit classes Grade 12 Total',
 'Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 12 Total',

In [72]:
district_general_df.head()

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN

In [73]:
# The columns that are chosen for the District dataframe
district_filtered_df = district_general_df[["RCDTS", 
    "Type",  
    "District", 
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Student Enrollment - Total",
    "Student Enrollment - Low Income %",
    "Avg Class Size – All Grades",
    "Avg Teaching Exp",
    "Bachelor Degree",
    "Masters Degree",
    "Teacher Retention Rate",
    "Teacher Avg Salary",
    "Admin Avg Salary"]]
district_filtered_df.head(20)

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Avg Teaching Exp,Bachelor Degree,Masters Degree,Teacher Retention Rate,Teacher Avg Salary,Admin Avg Salary
0,10010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,48.8,17.0,11.5,56.3,43.8,92.9,36085.63,72141.72
1,10010010260001,School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,246.0,43.9,16.0,NaN,NaN,NaN,90.6,NaN,NaN
2,10010010262002,School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,311.0,52.7,19.0,NaN,NaN,NaN,95.0,NaN,NaN
3,10010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,24.9,20.0,13.5,41.9,58.1,91.5,41534.22,83605.24
4,10010020260001,School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,281.0,22.4,20.0,NaN,NaN,NaN,84.8,NaN,NaN
5,10010020262002,School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,318.0,26.7,20.0,NaN,NaN,NaN,94.5,NaN,NaN
6,10010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,46.7,19.0,12.5,42.9,57.1,81.3,47686.51,75068.50
7,10010030260001,School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,245.0,42.0,15.0,NaN,NaN,NaN,83.7,NaN,NaN
8,10010030261001,School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,278.0,50.0,22.0,NaN,NaN,NaN,71.7,NaN,NaN
9,10010030262003,School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,210.0,43.8,22.0,NaN,NaN,NaN,86.4,NaN,NaN
10,10010030262008,School,Central CUSD 3,Golden,Adams,UNIT,MEDIUM,134.0,53.0,23.0,NaN,NaN,NaN,85.7,NaN,NaN
11,10010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,20.2,18.0,14.1,61.3,38.7,89.7,40254.81,83692.00
12,10010040260001,School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,209.0,27.3,11.0,NaN,NaN,NaN,83.7,NaN,NaN
13,10010040262006,School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,213.0,NaN,23.0,NaN,NaN,NaN,91.9,NaN,NaN
14,10010040262007,School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,250.0,30.0,23.0,NaN,NaN,NaN,96.7,NaN,NaN
15,10011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,60.7,18.0,12.0,56.9,42.6,73.6,45089.41,82764.57
16,10011720220003,School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,1753.0,50.3,20.0,NaN,NaN,NaN,81.9,NaN,NaN
17,10011720221003,School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,1400.0,56.7,17.0,NaN,NaN,NaN,68.5,NaN,NaN
18,10011720222004,School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,336.0,77.4,20.0,NaN,NaN,NaN,71.6,NaN,NaN
19,10011720222006,School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,211.0,67.3,18.0,NaN,NaN,NaN,80.0,NaN,NaN

In [74]:
district_filtered_df = district_filtered_df.dropna()

In [75]:
district_filtered_df.count()

RCDTS                                486
Type                                 486
District                             486
City                                 486
County                               486
District Type                        486
District Size                        486
Student Enrollment - Total           486
Student Enrollment - Low Income %    486
Avg Class Size – All Grades          486
Avg Teaching Exp                     486
Bachelor Degree                      486
Masters Degree                       486
Teacher Retention Rate               486
Teacher Avg Salary                   486
Admin Avg Salary                     486
dtype: int64

In [76]:
district_filtered_df['RCDTS']= '0' + district_filtered_df['RCDTS'].astype(str)
district_filtered_df.head(20)

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Avg Teaching Exp,Bachelor Degree,Masters Degree,Teacher Retention Rate,Teacher Avg Salary,Admin Avg Salary
0,010010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,48.8,17.0,11.5,56.3,43.8,92.9,36085.63,72141.72
3,010010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,24.9,20.0,13.5,41.9,58.1,91.5,41534.22,83605.24
6,010010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,46.7,19.0,12.5,42.9,57.1,81.3,47686.51,75068.50
11,010010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,20.2,18.0,14.1,61.3,38.7,89.7,40254.81,83692.00
15,010011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,60.7,18.0,12.0,56.9,42.6,73.6,45089.41,82764.57
26,010050010260000,District,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,734.0,84.5,16.0,12.0,69.7,30.3,73.8,41230.67,85725.00
30,010090150260000,District,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,1582.0,70.7,16.0,11.6,63.0,36.0,75.5,43408.09,81832.66
34,010090640260000,District,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,301.0,53.5,14.0,11.2,57.2,42.8,72.4,45024.46,93545.00
37,010092620260000,District,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,440.0,49.8,14.0,12.2,88.4,11.6,75.3,37318.09,92281.53
41,010690010260000,District,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,305.0,30.5,16.0,15.3,62.2,37.8,90.9,41429.91,88952.22
45,010690060260000,District,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,375.0,34.1,15.0,13.5,78.7,21.3,77.4,42622.41,85320.23
48,010690110260000,District,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,201.0,65.2,10.0,13.8,71.1,24.4,71.7,40834.29,89731.31
52,010690270260000,District,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,383.0,35.0,16.0,14.5,73.0,27.0,87.1,39891.90,81241.53
55,010691170220000,District,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,3372.0,55.0,19.0,12.6,67.2,31.4,83.0,45656.01,88654.71
66,010750030260000,District,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,315.0,52.1,15.0,12.5,65.3,34.7,86.5,41951.27,83314.43
69,010750040260000,District,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,382.0,58.1,12.0,13.8,70.5,29.5,71.3,39176.46,78716.67
73,010750100260000,District,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,1265.0,47.8,21.0,13.4,67.0,31.8,85.3,40363.74,73596.00
77,010750120260000,District,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,573.0,59.7,19.0,12.8,53.6,46.4,76.4,42303.36,78043.40
81,010860010260000,District,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,614.0,47.2,15.0,13.2,72.5,25.5,82.7,40610.16,71511.91
84,010860020260000,District,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,226.0,50.9,15.0,13.0,58.8,41.2,79.3,38743.44,95103.29

In [77]:

# Exporting dataframe to clean data folder.
district_filtered_df.to_csv('clean_data/district_filtered.csv', index=False)

# Creating High School Dataframe from general csv

In [78]:
general_df.head()

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN

In [79]:
# filtering for district
high_school_general_df = general_df.loc[general_df['School Type'] == "HIGH SCHOOL"]
high_school_general_df.head()

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10010040260001,School,Unity High School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10011720220003,School,Quincy Sr High School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,3.0,43.0,3.0,51.0,3.0,76.0,83.3,NaN,NaN,NaN

In [80]:
high_school_general_df.isna().sum()

RCDTS                                                            0
Type                                                             0
School Name                                                      0
District                                                         0
City                                                             0
                                                              ...
Five Essential Survey Student Response Rate %                  319
Five Essential Survey Teacher Response Rate %                  319
Five Essential Survey Schools with over 50% Response Rate %    653
Five Essential Survey Student Response Rate Median             653
Five Essential Survey Teacher Response Rate Median             653
Length: 390, dtype: int64

In [81]:
# dropping na with anything over 750
high_school_general_df = high_school_general_df.dropna(thresh=100, axis=1)
high_school_general_df.head(20)

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Collaborative Teachers,Five Essential Survey Collaborative Teachers Level,Five Essential Survey Involved Families,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,46.0,3.0,55.0,3.0,49.0,3.0,45.0,3.0,91.4,75.0
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.1
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10010040260001,School,Unity High School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10011720220003,School,Quincy Sr High School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,50.0,3.0,57.0,3.0,43.0,3.0,51.0,3.0,76.0,83.3
27,10050010260001,School,Brown County High School,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,61.0,4.0,43.0,3.0,65.0,4.0,45.0,3.0,80.3,85.7
31,10090150260007,School,Beardstown Jr/Sr High School,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,HIGH SCHOOL,5 6 7 8 9 10 11 12,...,21.0,2.0,25.0,2.0,42.0,3.0,61.0,4.0,76.9,59.7
35,10090640260003,School,Virginia Jr/ Sr High School,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,HIGH SCHOOL,6 7 8 9 10 11 12,...,44.0,3.0,40.0,3.0,58.0,3.0,46.0,3.0,97.1,93.8
38,10092620260002,School,A-C Central High School,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,10690010260001,School,Franklin Jr/Sr High School,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,HIGH SCHOOL,3 4 5 6 7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,10690060260001,School,Waverly Junior/Senior High School,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,10690110260001,School,Meredosia-Chambersburg High Sch,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,40.0,3.0,46.0,3.0,63.5,70.0
53,10690270260001,School,Triopia Jr-Sr High School,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,HIGH SCHOOL,7 8 9 10 11 12,...,14.0,1.0,32.0,2.0,59.0,3.0,51.0,3.0,96.9,99.9
56,10691170220014,School,Jacksonville High School,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,10750030260002,School,Pleasant Hill High School,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.7
70,10750040260002,School,Griggsville-Perry High School,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,10750100260009,School,Pittsfield High School,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,10750120260001,School,Western High School,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,57.0,3.0,55.0,3.0,52.0,3.0,63.0,4.0,93.8,99.9
82,10860010260001,School,Winchester High School,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,10860020260001,School,Bluffs High School,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,51.0,3.0,68.0,4.0,89.1,99.9

In [82]:
list(high_school_general_df.columns)

['RCDTS',
 'Type',
 'School Name',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'School Type',
 'Grades Served',
 'Summative Designation',
 'State Senate District',
 'State Representative District',
 'Student Enrollment - Total',
 'Student Enrollment - White %',
 'Student Enrollment - Black or African American %',
 'Student Enrollment - Hispanic or Latino %',
 'Student Enrollment - Asian %',
 'Student Enrollment - Two or More Races %',
 'Student Enrollment - EL %',
 'Student Enrollment - IEP %',
 'Student Enrollment - Low Income %',
 'Student Enrollment - Homeless %',
 'Total Number of School Days',
 'Student Attendance Rate',
 'Student Attendance Rate - Male',
 'Student Attendance Rate - Female',
 'Student Attendance Rate - White',
 'Student Attendance Rate - Black or African American',
 'Student Attendance Rate - Hispanic or Latino',
 'Student Attendance Rate - Asian',
 'Student Attendance Rate - Two or More Races',
 'Student Attendance Rate - EL',
 'Student Mobility Rate',
 'Student Mobility Rate - Male',
 'Student Mobility Rate - Female',
 'Student Mobility Rate - White',
 'Student Mobility Rate - Black or African American',
 'Student Mobility Rate - Hispanic or Latino',
 'Student Mobility Rate - Asian',
 'Student Mobility Rate - Two or More Races',
 'Student Mobility Rate - EL',
 'Student Mobility Rate - IEP',
 'Student Mobility Rate - Low Income',
 'Chronically Truant Students',
 'Student Chronic Truancy Rate',
 'High School Dropout Rate - Total',
 'High School Dropout Rate - Male',
 'High School Dropout Rate - Female',
 'High School Dropout Rate - White',
 'High School Dropout Rate - Black or African American',
 'High School Dropout Rate - Hispanic or Latino',
 'High School Dropout Rate - Asian',
 'High School Dropout Rate - Two or More Races',
 'High School Dropout Rate - EL',
 'High School Dropout Rate - IEP',
 'High School Dropout Rate - Low Income',
 'High School 4-Year Graduation Rate - Total',
 'High School 4-Year Graduation Rate - Male',
 'High School 4-Year Graduation Rate - Female',
 'High School 4-Year Graduation Rate - White',
 'High School 4-Year Graduation Rate - Black or African American',
 'High School 4-Year Graduation Rate - Hispanic or Latino',
 'High School 4-Year Graduation Rate - Asian',
 'High School 4-Year Graduation Rate - Two or More Races',
 'High School 4-Year Graduation Rate - EL',
 'High School 4-Year Graduation Rate - Children with Disabilities',
 'High School 4-Year Graduation Rate - Low Income',
 'High School 5-Year Graduation Rate - Total',
 'High School 5-Year Graduation Rate - Male',
 'High School 5-Year Graduation Rate - Female',
 'High School 5-Year Graduation Rate - White',
 'High School 5-Year Graduation Rate - Black or African American',
 'High School 5-Year Graduation Rate - Hispanic or Latino',
 'High School 5-Year Graduation Rate - Asian',
 'High School 5-Year Graduation Rate - Two or More Races',
 'High School 5-Year Graduation Rate - EL',
 'High School 5-Year Graduation Rate - Children with Disabilities',
 'High School 5-Year Graduation Rate - Low Income',
 'High School 6-Year Graduation Rate - Total',
 'High School 6-Year Graduation Rate - Male',
 'High School 6-Year Graduation Rate - Female',
 'High School 6-Year Graduation Rate - White',
 'High School 6-Year Graduation Rate - Black or African American',
 'High School 6-Year Graduation Rate - Hispanic or Latino',
 'High School 6-Year Graduation Rate - Asian',
 'High School 6-Year Graduation Rate - Two or More Races',
 'High School 6-Year Graduation Rate - EL',
 'High School 6-Year Graduation Rate - Children with Disabilities',
 'High School 6-Year Graduation Rate - Low Income',
 'Avg Class Size - High School',
 'Avg Class Size – All Grades',
 'Avg Number of days of Physical Education Per Week Per Student',
 'Teacher Retention Rate',
 'Principal Turnover within 6 Years',
 '% Graduates enrolled in Post Secondary Institution  within 16 months',
 '% Graduates enrolled in Post Secondary Institution  within 12 months',
 '# of CTE Enrollment',
 '# of 10 graders who took advanced Courses',
 '# of 11 graders who took advanced Courses',
 '# of 12 graders who took advanced Courses',
 'Community College Remediation %',
 'Community College Remediation Reading %',
 'Community College Remediation Math %',
 'Community College Remediation Communication',
 '9th Grade on Track',
 '9th Grade on Track - White',
 '9th Grade on Track - Black or African American',
 '9th Grade on Track - Hispanic or Latino',
 '9th Grade on Track - Asian',
 '9th Grade on Track - Two or More Races',
 '9th Grade on Track - IEP',
 '9th Grade on Track - EL',
 '9th Grade on Track - Low Income',
 'Chronic Absenteeism',
 'Chronic Absenteeism - White',
 'Chronic Absenteeism - Black or African American',
 'Chronic Absenteeism - Hispanic or Latino',
 'Chronic Absenteeism - Asian',
 'Chronic Absenteeism - Two or More Races',
 'Chronic Absenteeism - IEP',
 'Chronic Absenteeism - EL',
 'Chronic Absenteeism - Low Income',
 'Number of Students who took AP classes Grade 9 Total',
 'Number Non-EL of Students who took AP classes Grade 9 Total',
 'Number Non-IEP of Students who took AP classes Grade 9 Total',
 'Number Non-Low Income of Students who took AP classes Grade 9 Total',
 'Number of Students who took AP classes Grade 10 Total',
 'Number White of Students who took AP classes Grade 10 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 10 Total',
 'Number Non-EL of Students who took AP classes Grade 10 Total',
 'Number Non-IEP of Students who took AP classes Grade 10 Total',
 'Number Low Income of Students who took AP classes Grade 10 Total',
 'Number Non-Low Income of Students who took AP classes Grade 10 Total',
 'Number of Students who took AP classes Grade 11 Total',
 'Number White of Students who took AP classes Grade 11 Total',
 'Number Black or African American of Students who took AP classes Grade 11 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 11 Total',
 'Number Non-EL of Students who took AP classes Grade 11 Total',
 'Number Non-IEP of Students who took AP classes Grade 11 Total',
 'Number Low Income of Students who took AP classes Grade 11 Total',
 'Number Non-Low Income of Students who took AP classes Grade 11 Total',
 'Number of Students who took AP classes Grade 12 Total',
 'Number White of Students who took AP classes Grade 12 Total',
 'Number Black or African American of Students who took AP classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 12 Total',
 'Number Asian of Students who took AP classes Grade 12 Total',
 'Number Non-EL of Students who took AP classes Grade 12 Total',
 'Number Non-IEP of Students who took AP classes Grade 12 Total',
 'Number Low Income of Students who took AP classes Grade 12 Total',
 'Number Non-Low Income of Students who took AP classes Grade 12 Total',
 'Number of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 10 Total',
 'Number of Students who took Dual Credit classes Grade 11 Total',
 'Number White of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 11 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number of Students who took Dual Credit classes Grade 12 Total',
 'Number White of Students who took Dual Credit classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 12 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 12 Total',
 'Number of students who took AP Exams Grade 10',
 'Number of students who passed AP Exams Grade 10',
 'Number of students who took one ore more AP Exams Grade 10',
 'Number of students who passed one ore more AP Exams Grade 10',
 'Number of students who took AP Exams Grade 11',
 'Number of students who passed AP Exams Grade 11',
 'Number of students who took one ore more AP Exams Grade 11',
 'Number of students who passed one ore more AP Exams Grade 11',
 'Number of students who took AP Exams Grade 12',
 'Number of students who passed AP Exams Grade 12',
 'Number of students who took one ore more AP Exams Grade 12',
 'Number of students who passed one ore more AP Exams Grade 12',
 'Five Essential Survey Effective Leaders',
 'Five Essential Survey Leaders Level',
 'Five Essential Survey Collaborative Teachers',
 'Five Essential Survey Collaborative Teachers Level',
 'Five Essential Survey Involved Families',
 'Five Essential Survey Involved Families Level',
 'Five Essential Survey Supportive Environment',
 'Five Essential Survey Supportive Environment Level',
 'Five Essential Survey Ambitious Instruction',
 'Five Essential Survey Ambitious Instruction.1',
 'Five Essential Survey Student Response Rate %',
 'Five Essential Survey Teacher Response Rate %']

In [83]:
high_school_general_df.isna().sum()

RCDTS                                                   0
Type                                                    0
School Name                                             0
District                                                0
City                                                    0
                                                     ...
Five Essential Survey Supportive Environment Level    319
Five Essential Survey Ambitious Instruction           319
Five Essential Survey Ambitious Instruction.1         319
Five Essential Survey Student Response Rate %         319
Five Essential Survey Teacher Response Rate %         319
Length: 191, dtype: int64

In [84]:
high_school_filtered_df = high_school_general_df[["RCDTS", 
    "Type",  
    "District", 
    "School Type",
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Student Enrollment - Total",
    "Student Enrollment - Low Income %",
    "Avg Class Size – All Grades",
    "Teacher Retention Rate",
    "# of 12 graders who took advanced Courses",
    'Avg Number of days of Physical Education Per Week Per Student',
    'Community College Remediation %',
    'Avg Class Size - High School',
    "Chronic Absenteeism",
    'Number of students who took AP Exams Grade 10',
    'Number of students who passed AP Exams Grade 12',
    "Chronic Absenteeism - Low Income"]]
high_school_filtered_df.head(20)

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Teacher Retention Rate,# of 12 graders who took advanced Courses,Avg Number of days of Physical Education Per Week Per Student,Community College Remediation %,Avg Class Size - High School,Chronic Absenteeism,Number of students who took AP Exams Grade 10,Number of students who passed AP Exams Grade 12,Chronic Absenteeism - Low Income
1,10010010260001,School,Payson CUSD 1,HIGH SCHOOL,Payson,Adams,UNIT,MEDIUM,246.0,43.9,16.0,90.6,NaN,5.0,37.5,13.0,12.0,NaN,NaN,21.6
4,10010020260001,School,Liberty CUSD 2,HIGH SCHOOL,Liberty,Adams,UNIT,MEDIUM,281.0,22.4,20.0,84.8,23.0,3.0,20.0,22.0,2.5,NaN,NaN,7.8
7,10010030260001,School,Central CUSD 3,HIGH SCHOOL,Camp Point,Adams,UNIT,MEDIUM,245.0,42.0,15.0,83.7,15.0,5.0,32.3,15.0,11.9,NaN,NaN,19.6
12,10010040260001,School,CUSD 4,HIGH SCHOOL,Mendon,Adams,UNIT,MEDIUM,209.0,27.3,11.0,83.7,30.0,5.0,31.6,11.0,17.3,NaN,NaN,18.9
16,10011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,20.0,81.9,151.0,5.0,29.2,20.0,31.3,35.0,120.0,47.5
27,10050010260001,School,Brown County CUSD 1,HIGH SCHOOL,Mount Sterling,Brown,UNIT,MEDIUM,195.0,42.6,12.0,70.0,37.0,5.0,21.4,12.0,12.6,NaN,NaN,14.3
31,10090150260007,School,Beardstown CUSD 15,HIGH SCHOOL,Beardstown,Cass,UNIT,MEDIUM,891.0,72.4,15.0,77.4,25.0,5.0,46.3,19.0,3.3,14.0,NaN,4.1
35,10090640260003,School,Virginia CUSD 64,HIGH SCHOOL,Virginia,Cass,UNIT,SMALL,135.0,48.1,11.0,82.6,NaN,5.0,100.0,8.0,7.2,NaN,NaN,6.3
38,10092620260002,School,A-C Central CUSD 262,HIGH SCHOOL,Ashland,Cass,UNIT,SMALL,141.0,46.8,12.0,73.9,12.0,2.0,45.5,12.0,21.7,NaN,NaN,30.2
42,10690010260001,School,Franklin CUSD 1,HIGH SCHOOL,Franklin,Morgan,UNIT,SMALL,147.0,36.7,13.0,89.8,NaN,3.0,50.0,11.0,18.8,NaN,NaN,38.2
46,10690060260001,School,Waverly CUSD 6,HIGH SCHOOL,Waverly,Morgan,UNIT,SMALL,172.0,28.5,15.0,76.7,NaN,5.0,50.0,16.0,32.1,NaN,NaN,45.0
49,10690110260001,School,Meredosia-Chambersburg CUSD 11,HIGH SCHOOL,Meredosia,Morgan,UNIT,SMALL,53.0,56.6,6.0,76.5,NaN,5.0,NaN,6.0,35.2,NaN,NaN,51.9
53,10690270260001,School,Triopia CUSD 27,HIGH SCHOOL,Concord,Morgan,UNIT,SMALL,164.0,36.6,15.0,84.4,19.0,3.0,40.0,15.0,8.5,NaN,NaN,8.0
56,10691170220014,School,Jacksonville SD 117,HIGH SCHOOL,Jacksonville,Morgan,UNIT,LARGE,986.0,47.4,17.0,85.9,41.0,4.0,69.0,17.0,26.1,11.0,49.0,37.4
67,10750030260002,School,Pleasant Hill CUSD 3,HIGH SCHOOL,Pleasant Hill,Pike,UNIT,SMALL,77.0,49.4,11.0,87.5,NaN,5.0,38.5,11.0,29.5,NaN,NaN,38.9
70,10750040260002,School,Griggsville-Perry CUSD 4,HIGH SCHOOL,Griggsville,Pike,UNIT,SMALL,101.0,65.3,10.0,67.7,NaN,3.0,0.0,10.0,10.5,NaN,NaN,10.5
74,10750100260009,School,Pikeland CUSD 10,HIGH SCHOOL,Pittsfield,Pike,UNIT,MEDIUM,336.0,40.2,15.0,88.3,12.0,3.0,9.1,15.0,14.1,NaN,NaN,25.5
78,10750120260001,School,Western CUSD 12,HIGH SCHOOL,Barry,Pike,UNIT,MEDIUM,146.0,55.5,19.0,80.0,21.0,5.0,42.9,19.0,3.7,NaN,NaN,5.1
82,10860010260001,School,Winchester CUSD 1,HIGH SCHOOL,Winchester,Scott,UNIT,MEDIUM,178.0,40.4,10.0,81.0,23.0,5.0,40.0,10.0,14.0,NaN,NaN,32.7
85,10860020260001,School,Scott-Morgan CUSD 2,HIGH SCHOOL,Bluffs,Scott,UNIT,SMALL,64.0,53.1,11.0,68.2,NaN,5.0,25.0,11.0,18.0,NaN,NaN,20.9

In [85]:
high_school_filtered_df['Low Income Count']= high_school_filtered_df['Student Enrollment - Total']*(high_school_filtered_df['Student Enrollment - Low Income %']/100)
high_school_filtered_df.head(20)

/var/folders/vj/ydfp032j4lbd0k8fpbwj1jh00000gn/T/ipykernel_45927/3490756091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_school_filtered_df['Low Income Count']= high_school_filtered_df['Student Enrollment - Total']*(high_school_filtered_df['Student Enrollment - Low Income %']/100)

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,...,Teacher Retention Rate,# of 12 graders who took advanced Courses,Avg Number of days of Physical Education Per Week Per Student,Community College Remediation %,Avg Class Size - High School,Chronic Absenteeism,Number of students who took AP Exams Grade 10,Number of students who passed AP Exams Grade 12,Chronic Absenteeism - Low Income,Low Income Count
1,10010010260001,School,Payson CUSD 1,HIGH SCHOOL,Payson,Adams,UNIT,MEDIUM,246.0,43.9,...,90.6,NaN,5.0,37.5,13.0,12.0,NaN,NaN,21.6,107.994
4,10010020260001,School,Liberty CUSD 2,HIGH SCHOOL,Liberty,Adams,UNIT,MEDIUM,281.0,22.4,...,84.8,23.0,3.0,20.0,22.0,2.5,NaN,NaN,7.8,62.944
7,10010030260001,School,Central CUSD 3,HIGH SCHOOL,Camp Point,Adams,UNIT,MEDIUM,245.0,42.0,...,83.7,15.0,5.0,32.3,15.0,11.9,NaN,NaN,19.6,102.900
12,10010040260001,School,CUSD 4,HIGH SCHOOL,Mendon,Adams,UNIT,MEDIUM,209.0,27.3,...,83.7,30.0,5.0,31.6,11.0,17.3,NaN,NaN,18.9,57.057
16,10011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,...,81.9,151.0,5.0,29.2,20.0,31.3,35.0,120.0,47.5,881.759
27,10050010260001,School,Brown County CUSD 1,HIGH SCHOOL,Mount Sterling,Brown,UNIT,MEDIUM,195.0,42.6,...,70.0,37.0,5.0,21.4,12.0,12.6,NaN,NaN,14.3,83.070
31,10090150260007,School,Beardstown CUSD 15,HIGH SCHOOL,Beardstown,Cass,UNIT,MEDIUM,891.0,72.4,...,77.4,25.0,5.0,46.3,19.0,3.3,14.0,NaN,4.1,645.084
35,10090640260003,School,Virginia CUSD 64,HIGH SCHOOL,Virginia,Cass,UNIT,SMALL,135.0,48.1,...,82.6,NaN,5.0,100.0,8.0,7.2,NaN,NaN,6.3,64.935
38,10092620260002,School,A-C Central CUSD 262,HIGH SCHOOL,Ashland,Cass,UNIT,SMALL,141.0,46.8,...,73.9,12.0,2.0,45.5,12.0,21.7,NaN,NaN,30.2,65.988
42,10690010260001,School,Franklin CUSD 1,HIGH SCHOOL,Franklin,Morgan,UNIT,SMALL,147.0,36.7,...,89.8,NaN,3.0,50.0,11.0,18.8,NaN,NaN,38.2,53.949
46,10690060260001,School,Waverly CUSD 6,HIGH SCHOOL,Waverly,Morgan,UNIT,SMALL,172.0,28.5,...,76.7,NaN,5.0,50.0,16.0,32.1,NaN,NaN,45.0,49.020
49,10690110260001,School,Meredosia-Chambersburg CUSD 11,HIGH SCHOOL,Meredosia,Morgan,UNIT,SMALL,53.0,56.6,...,76.5,NaN,5.0,NaN,6.0,35.2,NaN,NaN,51.9,29.998
53,10690270260001,School,Triopia CUSD 27,HIGH SCHOOL,Concord,Morgan,UNIT,SMALL,164.0,36.6,...,84.4,19.0,3.0,40.0,15.0,8.5,NaN,NaN,8.0,60.024
56,10691170220014,School,Jacksonville SD 117,HIGH SCHOOL,Jacksonville,Morgan,UNIT,LARGE,986.0,47.4,...,85.9,41.0,4.0,69.0,17.0,26.1,11.0,49.0,37.4,467.364
67,10750030260002,School,Pleasant Hill CUSD 3,HIGH SCHOOL,Pleasant Hill,Pike,UNIT,SMALL,77.0,49.4,...,87.5,NaN,5.0,38.5,11.0,29.5,NaN,NaN,38.9,38.038
70,10750040260002,School,Griggsville-Perry CUSD 4,HIGH SCHOOL,Griggsville,Pike,UNIT,SMALL,101.0,65.3,...,67.7,NaN,3.0,0.0,10.0,10.5,NaN,NaN,10.5,65.953
74,10750100260009,School,Pikeland CUSD 10,HIGH SCHOOL,Pittsfield,Pike,UNIT,MEDIUM,336.0,40.2,...,88.3,12.0,3.0,9.1,15.0,14.1,NaN,NaN,25.5,135.072
78,10750120260001,School,Western CUSD 12,HIGH SCHOOL,Barry,Pike,UNIT,MEDIUM,146.0,55.5,...,80.0,21.0,5.0,42.9,19.0,3.7,NaN,NaN,5.1,81.030
82,10860010260001,School,Winchester CUSD 1,HIGH SCHOOL,Winchester,Scott,UNIT,MEDIUM,178.0,40.4,...,81.0,23.0,5.0,40.0,10.0,14.0,NaN,NaN,32.7,71.912
85,10860020260001,School,Scott-Morgan CUSD 2,HIGH SCHOOL,Bluffs,Scott,UNIT,SMALL,64.0,53.1,...,68.2,NaN,5.0,25.0,11.0,18.0,NaN,NaN,20.9,33.984

In [86]:
high_school_filtered_df.count()

RCDTS                                                            653
Type                                                             653
District                                                         653
School Type                                                      653
City                                                             653
County                                                           653
District Type                                                    644
District Size                                                    644
Student Enrollment - Total                                       653
Student Enrollment - Low Income %                                652
Avg Class Size – All Grades                                      643
Teacher Retention Rate                                           645
# of 12 graders who took advanced Courses                        542
Avg Number of days of Physical Education Per Week Per Student    645
Community College Remediation %                                  631
Avg Class Size - High School                                     643
Chronic Absenteeism                                              645
Number of students who took AP Exams Grade 10                    231
Number of students who passed AP Exams Grade 12                  308
Chronic Absenteeism - Low Income                                 636
Low Income Count                                                 652
dtype: int64

In [87]:
high_school_filtered_df = high_school_filtered_df.dropna()

In [88]:
high_school_filtered_df['RCDTS']= '0' + high_school_filtered_df['RCDTS'].astype(str)
high_school_filtered_df.head(20)

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,...,Teacher Retention Rate,# of 12 graders who took advanced Courses,Avg Number of days of Physical Education Per Week Per Student,Community College Remediation %,Avg Class Size - High School,Chronic Absenteeism,Number of students who took AP Exams Grade 10,Number of students who passed AP Exams Grade 12,Chronic Absenteeism - Low Income,Low Income Count
16,010011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,...,81.9,151.0,5.0,29.2,20.0,31.3,35.0,120.0,47.5,881.759
56,010691170220014,School,Jacksonville SD 117,HIGH SCHOOL,Jacksonville,Morgan,UNIT,LARGE,986.0,47.4,...,85.9,41.0,4.0,69.0,17.0,26.1,11.0,49.0,37.4,467.364
176,040041000260002,School,Belvidere CUSD 100,HIGH SCHOOL,Belvidere,Boone,UNIT,LARGE,1515.0,32.7,...,91.9,136.0,5.0,40.5,22.0,18.7,16.0,25.0,30.1,495.405
186,040042000260003,School,North Boone CUSD 200,HIGH SCHOOL,Poplar Grove,Boone,UNIT,MEDIUM,503.0,45.3,...,80.5,30.0,5.0,33.3,18.0,3.4,44.0,33.0,6.2,227.859
193,041011220220002,School,Harlem UD 122,HIGH SCHOOL,Machesney Park,Winnebago,UNIT,LARGE,1529.0,49.2,...,84.3,132.0,5.0,38.3,21.0,43.2,35.0,271.0,55.1,752.268
220,041012050250001,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1805.0,53.2,...,90.0,163.0,5.0,52.7,22.0,27.1,313.0,564.0,100.0,960.260
221,041012050250002,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1864.0,54.7,...,89.3,82.0,5.0,50.3,19.0,25.1,26.0,24.0,31.9,1019.608
222,041012050250003,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1744.0,39.9,...,85.1,186.0,5.0,52.0,24.0,21.9,84.0,247.0,34.4,695.856
223,041012050250004,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1680.0,55.8,...,86.0,128.0,5.0,48.6,20.0,30.4,26.0,44.0,40.2,937.440
265,041012070160001,School,Hononegah CHD 207,HIGH SCHOOL,Rockton,Winnebago,HIGH SCHOOL,MEDIUM,2006.0,21.3,...,94.2,245.0,5.0,26.1,23.0,15.3,210.0,707.0,30.4,427.278
513,050162020170001,School,Evanston Twp HSD 202,HIGH SCHOOL,Evanston,Cook,HIGH SCHOOL,MEDIUM,3459.0,38.4,...,91.5,596.0,5.0,57.0,19.0,12.9,56.0,1387.0,23.4,1328.256
515,050162030170001,School,New Trier Twp HSD 203,HIGH SCHOOL,Winnetka,Cook,HIGH SCHOOL,LARGE,2934.0,3.7,...,92.9,602.0,5.0,40.6,21.0,12.4,54.0,2007.0,26.8,108.558
518,050162070170001,School,Maine Township HSD 207,HIGH SCHOOL,Park Ridge,Cook,HIGH SCHOOL,LARGE,1830.0,43.7,...,90.4,321.0,5.0,60.6,20.0,21.6,117.0,685.0,28.4,799.710
519,050162070170003,School,Maine Township HSD 207,HIGH SCHOOL,Park Ridge,Cook,HIGH SCHOOL,LARGE,2397.0,7.3,...,92.4,460.0,5.0,38.6,21.0,19.4,238.0,1089.0,30.7,174.981
520,050162070170004,School,Maine Township HSD 207,HIGH SCHOOL,Des Plaines,Cook,HIGH SCHOOL,LARGE,2059.0,34.9,...,93.7,350.0,5.0,61.7,21.0,20.9,183.0,687.0,27.9,718.591
522,050162110170001,School,Township HSD 211,HIGH SCHOOL,Hoffman Estates,Cook,HIGH SCHOOL,LARGE,2349.0,26.9,...,91.7,543.0,5.0,24.1,22.0,11.2,315.0,1066.0,20.6,631.881
523,050162110170002,School,Township HSD 211,HIGH SCHOOL,Palatine,Cook,HIGH SCHOOL,LARGE,2594.0,15.0,...,95.2,504.0,5.0,14.3,22.0,11.1,447.0,1555.0,28.4,389.100
524,050162110170003,School,Township HSD 211,HIGH SCHOOL,Palatine,Cook,HIGH SCHOOL,LARGE,2587.0,55.0,...,95.9,474.0,5.0,18.1,22.0,19.5,192.0,888.0,28.0,1422.850
525,050162110170004,School,Township HSD 211,HIGH SCHOOL,Schaumburg,Cook,HIGH SCHOOL,LARGE,2116.0,31.6,...,93.0,464.0,5.0,21.1,21.0,13.8,148.0,1026.0,21.0,668.656
526,050162110170006,School,Township HSD 211,HIGH SCHOOL,Hoffman Estates,Cook,HIGH SCHOOL,LARGE,1907.0,49.6,...,95.4,384.0,5.0,20.6,20.0,14.5,167.0,799.0,19.6,945.872

In [89]:
high_school_filtered_df.count()

RCDTS                                                            205
Type                                                             205
District                                                         205
School Type                                                      205
City                                                             205
County                                                           205
District Type                                                    205
District Size                                                    205
Student Enrollment - Total                                       205
Student Enrollment - Low Income %                                205
Avg Class Size – All Grades                                      205
Teacher Retention Rate                                           205
# of 12 graders who took advanced Courses                        205
Avg Number of days of Physical Education Per Week Per Student    205
Community College Remediation %                                  205
Avg Class Size - High School                                     205
Chronic Absenteeism                                              205
Number of students who took AP Exams Grade 10                    205
Number of students who passed AP Exams Grade 12                  205
Chronic Absenteeism - Low Income                                 205
Low Income Count                                                 205
dtype: int64

In [90]:
high_school_filtered_df.head(30)

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,...,Teacher Retention Rate,# of 12 graders who took advanced Courses,Avg Number of days of Physical Education Per Week Per Student,Community College Remediation %,Avg Class Size - High School,Chronic Absenteeism,Number of students who took AP Exams Grade 10,Number of students who passed AP Exams Grade 12,Chronic Absenteeism - Low Income,Low Income Count
16,010011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,...,81.9,151.0,5.0,29.2,20.0,31.3,35.0,120.0,47.5,881.759
56,010691170220014,School,Jacksonville SD 117,HIGH SCHOOL,Jacksonville,Morgan,UNIT,LARGE,986.0,47.4,...,85.9,41.0,4.0,69.0,17.0,26.1,11.0,49.0,37.4,467.364
176,040041000260002,School,Belvidere CUSD 100,HIGH SCHOOL,Belvidere,Boone,UNIT,LARGE,1515.0,32.7,...,91.9,136.0,5.0,40.5,22.0,18.7,16.0,25.0,30.1,495.405
186,040042000260003,School,North Boone CUSD 200,HIGH SCHOOL,Poplar Grove,Boone,UNIT,MEDIUM,503.0,45.3,...,80.5,30.0,5.0,33.3,18.0,3.4,44.0,33.0,6.2,227.859
193,041011220220002,School,Harlem UD 122,HIGH SCHOOL,Machesney Park,Winnebago,UNIT,LARGE,1529.0,49.2,...,84.3,132.0,5.0,38.3,21.0,43.2,35.0,271.0,55.1,752.268
220,041012050250001,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1805.0,53.2,...,90.0,163.0,5.0,52.7,22.0,27.1,313.0,564.0,100.0,960.260
221,041012050250002,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1864.0,54.7,...,89.3,82.0,5.0,50.3,19.0,25.1,26.0,24.0,31.9,1019.608
222,041012050250003,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1744.0,39.9,...,85.1,186.0,5.0,52.0,24.0,21.9,84.0,247.0,34.4,695.856
223,041012050250004,School,Rockford SD 205,HIGH SCHOOL,Rockford,Winnebago,UNIT,LARGE,1680.0,55.8,...,86.0,128.0,5.0,48.6,20.0,30.4,26.0,44.0,40.2,937.440
265,041012070160001,School,Hononegah CHD 207,HIGH SCHOOL,Rockton,Winnebago,HIGH SCHOOL,MEDIUM,2006.0,21.3,...,94.2,245.0,5.0,26.1,23.0,15.3,210.0,707.0,30.4,427.278
513,050162020170001,School,Evanston Twp HSD 202,HIGH SCHOOL,Evanston,Cook,HIGH SCHOOL,MEDIUM,3459.0,38.4,...,91.5,596.0,5.0,57.0,19.0,12.9,56.0,1387.0,23.4,1328.256
515,050162030170001,School,New Trier Twp HSD 203,HIGH SCHOOL,Winnetka,Cook,HIGH SCHOOL,LARGE,2934.0,3.7,...,92.9,602.0,5.0,40.6,21.0,12.4,54.0,2007.0,26.8,108.558
518,050162070170001,School,Maine Township HSD 207,HIGH SCHOOL,Park Ridge,Cook,HIGH SCHOOL,LARGE,1830.0,43.7,...,90.4,321.0,5.0,60.6,20.0,21.6,117.0,685.0,28.4,799.710
519,050162070170003,School,Maine Township HSD 207,HIGH SCHOOL,Park Ridge,Cook,HIGH SCHOOL,LARGE,2397.0,7.3,...,92.4,460.0,5.0,38.6,21.0,19.4,238.0,1089.0,30.7,174.981
520,050162070170004,School,Maine Township HSD 207,HIGH SCHOOL,Des Plaines,Cook,HIGH SCHOOL,LARGE,2059.0,34.9,...,93.7,350.0,5.0,61.7,21.0,20.9,183.0,687.0,27.9,718.591
522,050162110170001,School,Township HSD 211,HIGH SCHOOL,Hoffman Estates,Cook,HIGH SCHOOL,LARGE,2349.0,26.9,...,91.7,543.0,5.0,24.1,22.0,11.2,315.0,1066.0,20.6,631.881
523,050162110170002,School,Township HSD 211,HIGH SCHOOL,Palatine,Cook,HIGH SCHOOL,LARGE,2594.0,15.0,...,95.2,504.0,5.0,14.3,22.0,11.1,447.0,1555.0,28.4,389.100
524,050162110170003,School,Township HSD 211,HIGH SCHOOL,Palatine,Cook,HIGH SCHOOL,LARGE,2587.0,55.0,...,95.9,474.0,5.0,18.1,22.0,19.5,192.0,888.0,28.0,1422.850
525,050162110170004,School,Township HSD 211,HIGH SCHOOL,Schaumburg,Cook,HIGH SCHOOL,LARGE,2116.0,31.6,...,93.0,464.0,5.0,21.1,21.0,13.8,148.0,1026.0,21.0,668.656
526,050162110170006,School,Township HSD 211,HIGH SCHOOL,Hoffman Estates,Cook,HIGH SCHOOL,LARGE,1907.0,49.6,...,95.4,384.0,5.0,20.6,20.0,14.5,167.0,799.0,19.6,945.872
528,050162140170002,School,Township HSD 214,HIGH SCHOOL,Elk Grove Village,Cook,HIGH SCHOOL,LARGE,1935.0,28.2,...,95.8,420.0,5.0,22.3,23.0,23.3,267.0,693.0,23.4,545.670
529,050162140170004,School,Township HSD 214,HIGH SCHOOL,Arlington Heights,Cook,HIGH SCHOOL,LARGE,1864.0,11.5,...,96.6,444.0,5.0,15.5,19.0,14.7,418.0,1650.0,20.5,214.360
530,050162140170005,School,Township HSD 214,HIGH SCHOOL,Mt Prospect,Cook,HIGH SCHOOL,LARGE,2150.0,7.5,...,96.2,449.0,5.0,14.5,24.0,11.9,388.0,1465.0,24.8,161.250
531,050162140170006,School,Township HSD 214,HIGH SCHOOL,Wheeling,Cook,HIGH SCHOOL,LARGE,1718.0,38.7,...,96.9,365.0,5.0,27.9,20.0,23.7,273.0,448.0,26.7,664.866
532,050162140170007,School,Township HSD 214,HIGH SCHOOL,Rolling Meadows,Cook,HIGH SCHOOL,LARGE,1900.0,20.3,...,95.9,429.0,4.0,19.5,21.0,18.5,187.0,884.0,22.9,385.700
533,050162140170008,School,Township HSD 214,HIGH SCHOOL,Buffalo Grove,Cook,HIGH SCHOOL,LARGE,2004.0,16.3,...,96.2,444.0,5.0,26.2,21.0,19.3,331.0,1256.0,32.9,326.652
535,050162190170002,School,Niles Twp HSD 219,HIGH SCHOOL,Skokie,Cook,HIGH SCHOOL,LARGE,2059.0,31.8,...,92.5,256.0,5.0,53.8,18.0,12.6,234.0,659.0,20.1,654.762
536,050162190170003,School,Niles Twp HSD 219,HIGH SCHOOL,Skokie,Cook,HIGH SCHOOL,LARGE,2435.0,30.6,...,93.5,331.0,5.0,53.3,20.0,15.3,237.0,779.0,25.0,745.110
538,050162250170001,School,Northfield Twp HSD 225,HIGH SCHOOL,Northbrook,Cook,HIGH SCHOOL,LARGE,1988.0,5.8,...,93.2,304.0,3.0,27.8,21.0,7.9,166.0,1055.0,15.5,115.304
539,050162250170002,School,Northfield Twp HSD 225,HIGH SCHOOL,Glenview,Cook,HIGH SCHOOL,LARGE,3067.0,19.9,...,90.3,571.0,3.0,54.1,21.0,8.7,145.0,1757.0,15.5,610.333

In [91]:
# Exporting dataframe to clean data folder.
high_school_filtered_df.to_csv('clean_data/high_school_filtered.csv', index=False)

# District Financials

In [92]:
# Creating dataframe for the General worksheet
financials_df = pd.read_csv('Financial.csv')
financials_df.head(10)

,RCDTS,Type,District,City,County,District Type,District Size,EBF Tier,EBF Capacity to Meet Expectations,Local Property Taxes 2016-17 - Dollars,...,Debt Service 2016-17 - Dollars %,Tort 2016-17 - Dollars,Tort 2016-17 - Dollars %,Munic. Ret. / Soc. Security 2016-17 - Dollars,Munic. Ret. / Soc. Security 2016-17 - Dollars %,Fire Prev. & Safety 2016-17 - Dollars,Fire Prev. & Safety 2016-17 - Dollars %,Capital Projects Fund 2016-17 - Dollars,Capital Projects Fund 2016-17 - Dollars %,Total Expenditures 2016-17
0,010010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,1.0,59.4,2531179.0,...,9.7,373047.0,7.3,135118.0,2.6,409771.0,8.0,0.0,0.0,5143696.0
1,010010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,2.0,66.7,2253278.0,...,0.1,457761.0,8.4,159284.0,2.9,1920.0,0.0,0.0,0.0,5443479.0
2,010010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,1.0,62.3,3128518.0,...,0.0,531065.0,7.0,261314.0,3.5,25529.0,0.3,0.0,0.0,7564187.0
3,010010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,2.0,68.1,3634218.0,...,7.1,512272.0,8.1,189664.0,3.0,997.0,0.0,0.0,0.0,6350671.0
4,010011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,2.0,69.8,39430662.0,...,7.9,1915438.0,2.1,3225417.0,3.5,40888.0,0.0,22355573.0,24.2,92289055.0
5,010050010260000,District,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,2.0,67.3,3683050.0,...,4.4,910691.0,9.2,332933.0,3.4,878153.0,8.9,143643.0,1.4,9914825.0
6,010090150260000,District,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,1.0,52.5,3046836.0,...,2.4,298735.0,2.2,427290.0,3.2,0.0,0.0,0.0,0.0,13551069.0
7,010090640260000,District,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,2.0,70.9,2220956.0,...,12.7,369237.0,9.5,112099.0,2.9,5498.0,0.1,301062.0,7.7,3907039.0
8,010092620260000,District,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,2.0,69.4,3020371.0,...,8.1,466196.0,8.8,165183.0,3.1,209293.0,3.9,6389.0,0.1,5305862.0
9,010690010260000,District,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,3.0,91.0,2694413.0,...,0.0,48157.0,1.1,139235.0,3.2,4558.0,0.1,118103.0,2.7,4336122.0

In [93]:
# filtering for district
district_financials_df = financials_df.loc[financials_df['Type'] == "District"]
district_financials_df.head()

,RCDTS,Type,District,City,County,District Type,District Size,EBF Tier,EBF Capacity to Meet Expectations,Local Property Taxes 2016-17 - Dollars,...,Debt Service 2016-17 - Dollars %,Tort 2016-17 - Dollars,Tort 2016-17 - Dollars %,Munic. Ret. / Soc. Security 2016-17 - Dollars,Munic. Ret. / Soc. Security 2016-17 - Dollars %,Fire Prev. & Safety 2016-17 - Dollars,Fire Prev. & Safety 2016-17 - Dollars %,Capital Projects Fund 2016-17 - Dollars,Capital Projects Fund 2016-17 - Dollars %,Total Expenditures 2016-17
0,010010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,1.0,59.4,2531179.0,...,9.7,373047.0,7.3,135118.0,2.6,409771.0,8.0,0.0,0.0,5143696.0
1,010010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,2.0,66.7,2253278.0,...,0.1,457761.0,8.4,159284.0,2.9,1920.0,0.0,0.0,0.0,5443479.0
2,010010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,1.0,62.3,3128518.0,...,0.0,531065.0,7.0,261314.0,3.5,25529.0,0.3,0.0,0.0,7564187.0
3,010010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,2.0,68.1,3634218.0,...,7.1,512272.0,8.1,189664.0,3.0,997.0,0.0,0.0,0.0,6350671.0
4,010011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,2.0,69.8,39430662.0,...,7.9,1915438.0,2.1,3225417.0,3.5,40888.0,0.0,22355573.0,24.2,92289055.0

In [94]:
district_financials_df.count()

RCDTS                                              865
Type                                               865
District                                           865
City                                               859
County                                             859
District Type                                      858
District Size                                      858
EBF Tier                                           849
EBF Capacity to Meet Expectations                  849
Local Property Taxes 2016-17 - Dollars             849
Local Property Taxes 2016-17 - Percent             849
Other Local Funding 2016-17  - Dollars             849
Other Local Funding 2016-17 - Percent              849
General State Aid 2016-17 - Dollars                849
General State Aid 2016-17 - Percent                849
Other State Funding 2016-17  - Dollars             849
Other State Funding 2016-17  - Percent             849
Federal Funding 2016-17 - Dollars                  849
Federal Funding 2016-17 - Percent                  849
Total Revenue Source 2016-17                       849
EAV per Pupil 2016-17                              849
Total School Tax Rate per $100 2016-17             849
Instructional Expenditure per Pupil 2016-17        849
Operating Expenditures 2016-17                     849
Instruction 2016-17 - Dollars                      849
Instruction 2016-17 - Dollars %                    849
General Admin 2016-17 - Dollars                    849
General Admin 2016-17 - Dollars.1                  849
Supporting Services 2016-17 - Dollars              849
Supporting Services 2016-17 - Dollars %            849
Other Expenditures 2016-17 - Dollars               849
Other Expenditures 2016-17 - Dollars %             849
Education Fund 2016-17 - Dollars                   849
Education Fund 2016-17 - Dollars %                 849
Operations/B/M 2016-17 -Dollars                    849
Operations/B/M 2016-17 -Dollars %                  849
Transportation 2016-17 - Dollars                   849
Transportation 2016-17 - Dollars %                 849
Debt Service 2016-17 - Dollars                     849
Debt Service 2016-17 - Dollars %                   849
Tort 2016-17 - Dollars                             849
Tort 2016-17 - Dollars %                           849
Munic. Ret. / Soc. Security 2016-17 - Dollars      849
Munic. Ret. / Soc. Security 2016-17 - Dollars %    849
Fire Prev. & Safety 2016-17 - Dollars              849
Fire Prev. & Safety 2016-17 - Dollars %            849
Capital Projects Fund 2016-17 - Dollars            849
Capital Projects Fund 2016-17 - Dollars %          849
Total Expenditures 2016-17                         849
dtype: int64

In [95]:
len(district_financials_df)

865

In [96]:
district_financials_df.shape

(865, 49)

In [97]:
clean_financials_df = district_financials_df[["RCDTS", 
    "Type",  
    "District", 
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Total School Tax Rate per $100 2016-17",
    "Total Expenditures 2016-17", 
    "Education Fund 2016-17 - Dollars", 
    "General Admin 2016-17 - Dollars",
    "Local Property Taxes 2016-17 - Dollars", 
    "General State Aid 2016-17 - Dollars",
    "Federal Funding 2016-17 - Dollars"]]
clean_financials_df.head(30)

,RCDTS,Type,District,City,County,District Type,District Size,Total School Tax Rate per $100 2016-17,Total Expenditures 2016-17,Education Fund 2016-17 - Dollars,General Admin 2016-17 - Dollars,Local Property Taxes 2016-17 - Dollars,General State Aid 2016-17 - Dollars,Federal Funding 2016-17 - Dollars
0,010010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,5.19,5143696.0,3225555.0,564111.0,2531179.0,1775730.0,389805.0
1,010010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,3.85,5443479.0,3907503.0,622126.0,2253278.0,1905501.0,362160.0
2,010010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,3.64,7564187.0,5960372.0,770369.0,3128518.0,2892183.0,620882.0
3,010010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,5.59,6350671.0,4584398.0,671307.0,3634218.0,2318723.0,383059.0
4,010011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,4.04,92289055.0,48343392.0,2423593.0,39430662.0,12774845.0,8539441.0
5,010050010260000,District,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,4.35,9914825.0,6180557.0,1036593.0,3683050.0,2016272.0,401756.0
6,010090150260000,District,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,5.07,13551069.0,11347075.0,542350.0,3046836.0,7615862.0,1512178.0
7,010090640260000,District,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,6.05,3907039.0,2138345.0,522252.0,2220956.0,623159.0,198631.0
8,010092620260000,District,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,6.02,5305862.0,3144054.0,635186.0,3020371.0,1174988.0,337950.0
9,010690010260000,District,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,4.70,4336122.0,2879590.0,228683.0,2694413.0,385220.0,168598.0
10,010690060260000,District,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,5.25,4402408.0,3266104.0,225264.0,2804248.0,836115.0,234577.0
11,010690110260000,District,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,5.68,3323391.0,2171188.0,331887.0,2483713.0,271088.0,195695.0
12,010690270260000,District,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,5.05,3958635.0,2718296.0,451078.0,2238616.0,872095.0,165245.0
13,010691170220000,District,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,4.80,57171598.0,28194911.0,1330999.0,20718011.0,8585347.0,3498115.0
14,010750030260000,District,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,5.30,3514637.0,2517535.0,221758.0,1546464.0,851550.0,224342.0
15,010750040260000,District,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,5.79,7072846.0,2975956.0,660273.0,2251339.0,1458621.0,461221.0
16,010750100260000,District,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,4.23,12826218.0,8985484.0,709139.0,4850842.0,4364210.0,937784.0
17,010750120260000,District,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,5.64,8200560.0,4189338.0,715314.0,2991286.0,1900607.0,329039.0
18,010860010260000,District,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,4.35,6740794.0,4550692.0,588541.0,2103384.0,2313742.0,315119.0
19,010860020260000,District,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,5.29,2751405.0,1822727.0,307611.0,1146150.0,772296.0,157706.0
20,030030010260000,District,Mulberry Grove CUSD 1,Mulberry Grove,Bond,UNIT,SMALL,4.53,3905812.0,2830422.0,327975.0,1357749.0,1705945.0,405960.0
21,030030020260000,District,Bond County CUSD 2,Greenville,Bond,UNIT,LARGE,4.88,18803540.0,14288592.0,1014420.0,8425609.0,6123684.0,1408229.0
22,030110010260000,District,Morrisonville CUSD 1,Morrisonville,Christian,UNIT,SMALL,5.03,3749684.0,2515875.0,282108.0,2117532.0,675533.0,199741.0
23,030110030260000,District,Taylorville CUSD 3,Taylorville,Christian,UNIT,LARGE,3.42,23606047.0,17586207.0,633524.0,10439853.0,7272858.0,1401583.0
24,030110040260000,District,Edinburg CUSD 4,Edinburg,Christian,UNIT,SMALL,3.98,2543123.0,1930451.0,223982.0,1854158.0,425733.0,196698.0
25,030110080260000,District,Pana CUSD 8,Pana,Christian,UNIT,MEDIUM,5.06,14362028.0,10679099.0,884651.0,5454599.0,5626610.0,1218019.0
26,030110140240000,District,South Fork SD 14,Kincaid,Christian,UNIT,SMALL,4.33,3140512.0,2519059.0,179898.0,904618.0,1620122.0,350824.0
27,030250100260000,District,Altamont CUSD 10,Altamont,Effingham,UNIT,MEDIUM,4.41,7378060.0,5224705.0,607933.0,3020435.0,2857304.0,493652.0
28,030250200260000,District,Beecher City CUSD 20,Beecher City,Effingham,UNIT,SMALL,3.90,3498561.0,2515349.0,358810.0,2397858.0,478934.0,219893.0
29,030250300260000,District,Dieterich CUSD 30,Dieterich,Effingham,UNIT,MEDIUM,4.05,4039569.0,3053284.0,256865.0,1456319.0,1855406.0,245097.0

In [98]:
clean_financials_df.count()

RCDTS                                     865
Type                                      865
District                                  865
City                                      859
County                                    859
District Type                             858
District Size                             858
Total School Tax Rate per $100 2016-17    849
Total Expenditures 2016-17                849
Education Fund 2016-17 - Dollars          849
General Admin 2016-17 - Dollars           849
Local Property Taxes 2016-17 - Dollars    849
General State Aid 2016-17 - Dollars       849
Federal Funding 2016-17 - Dollars         849
dtype: int64

In [99]:
clean_financials_df = clean_financials_df.dropna()

In [100]:
clean_financials_df.count()

RCDTS                                     849
Type                                      849
District                                  849
City                                      849
County                                    849
District Type                             849
District Size                             849
Total School Tax Rate per $100 2016-17    849
Total Expenditures 2016-17                849
Education Fund 2016-17 - Dollars          849
General Admin 2016-17 - Dollars           849
Local Property Taxes 2016-17 - Dollars    849
General State Aid 2016-17 - Dollars       849
Federal Funding 2016-17 - Dollars         849
dtype: int64

In [101]:
clean_financials_df.dtypes

RCDTS                                      object
Type                                       object
District                                   object
City                                       object
County                                     object
District Type                              object
District Size                              object
Total School Tax Rate per $100 2016-17    float64
Total Expenditures 2016-17                float64
Education Fund 2016-17 - Dollars          float64
General Admin 2016-17 - Dollars           float64
Local Property Taxes 2016-17 - Dollars    float64
General State Aid 2016-17 - Dollars       float64
Federal Funding 2016-17 - Dollars         float64
dtype: object

In [102]:
# Exporting dataframe to clean data folder.
clean_financials_df.to_csv('clean_data/clean_financials.csv', index=False)