In [1]:
import pandas as pd

In [2]:
regression_df = pd.read_csv("ELA and Math.csv")

C:\Users\brian\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
regression_df

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Science Grade 5 Proficient,ELA Grade 6 Proficient,Math Grade 6 Proficient,ELA Grade 7 Proficient,Math Grade 7 Proficient,ELA Grade 8 Proficient,Math Grade 8 Proficient,Science Grade 8 Proficient,ELA Grade 11 Proficient,Math Grade 11 Proficient
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,22.0,15.0,8.0,14.0,13.0,12.0,6.0,23.0,15.0,11.0
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,14.0,13.0,12.0,6.0,23.0,15.0,11.0
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,22.0,15.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,21.0,13.0,14.0,22.0,17.0,17.0,15.0,33.0,17.0,12.0
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,22.0,17.0,17.0,15.0,33.0,17.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4749,56099365U262014,School,Pioneer Elementary School,Valley View CUSD 365U,Bolingbrook,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4750,56099365U262015,School,Kenneth L Hermansen Elementary,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4751,56099365U262016,School,Skoff Elementary,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4752,56099365U263002,School,Valley View Early Childhood Cntr,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,PreK,PK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753,NaN,Statewide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76863.0,49313.0,39052.0,57346.0,44083.0,52453.0,43840.0,82755.0,53374.0,49343.0

In [4]:
regression2_df = regression_df.dropna()
regression2_df

Empty DataFrame
Columns: [RCDTS, Type, School Name, District, City, County, District Type, District Size, School Type, Grades Served, ELA Proficiency Total Count, ELA Proficiency White Count, ELA Proficiency Black or African American Count, ELA Proficiency Hispanic or Latino Count, ELA Proficiency Asian Count, ELA Proficiency Native Hawaiian or Other Pacific Islander Count, ELA Proficiency American Indian or Alaska Native Count, ELA Proficiency Two or More Races Count, ELA Proficiency IEP Count, ELA Proficiency EL Count, ELA Proficiency Low Income Count, ELA Proficiency Total %, ELA Proficiency White %, ELA Proficiency Black or African American %, ELA Proficiency Hispanic or Latino %, ELA Proficiency Asian %, ELA Proficiency Native Hawaiian or Other Pacific Islander %, ELA Proficiency American Indian or Alaska Native %, ELA Proficiency Two or More Races %, ELA Proficiency IEP %, ELA Proficiency EL %, ELA Proficiency Low Income %, Math Proficiency Total Count, Math Proficiency White Count, Math Proficiency Black or African American Count, Math Proficiency Hispanic or Latino Count, Math Proficiency Asian Count, Math Proficiency Native Hawaiian or Other Pacific Islander Count, Math Proficiency American Indian or Alaska Native Count, Math Proficiency Two or More Races Count, Math Proficiency IEP Count, Math Proficiency EL Count, Math Proficiency Low Income Count, Math Proficiency Total %, Math Proficiency White %, Math Proficiency Black or African American %, Math Proficiency Hispanic or Latino %, Math Proficiency Asian %, Math Proficiency Native Hawaiian or Other Pacific Islander %, Math Proficiency American Indian or Alaska Native %, Math Proficiency Two or More Races %, Math Proficiency IEP %, Math Proficiency EL %, Math Proficiency Low Income %, ELA Growth All %, ELA White Growth  %, ELA Black or African American Growth  %, ELA Hispanic or Latino Growth  %, ELA Asian Growth  %, ELA Native Hawaiian or Other Pacific Islander Growth  %, ELA American Indian or Alaska Native Growth  %, ELA Two or More Races Growth  %, ELA Growth IEP  %, ELA Growth EL  %, ELA Growth Low Income  %, Math Growth All %, Math White Growth  %, Math Black or African American Growth  %, Math Hispanic or Latino Growth  %, Math Asian Growth  %, Math Native Hawaiian or Other Pacific Islander Growth  %, Math American Indian or Alaska Native Growth  %, Math Two or More Races Growth  %, Math Growth IEP  %, Math Growth EL  %, Math Growth Low Income  %, ELA Participation Total Student Count, ELA Participation Total Male Count, ELA Participation Total Female Count, ELA Participation Total White Count, ELA Participation Total Black or African American Count, ELA Participation Total Hispanic or Latino Count, ELA Participation Total Asian Count, ELA Participation Total Native Hawaiian or Other Pacific Islander Count, ELA Participation Total American Indian or Alaska Native Count, ELA Participation Total Two or More Races Count, ELA Participation Total IEP Count, ELA Participation Total EL Count, ELA Participation Total Low Income Count, ELA Participation Total Student %, ELA Participation Total Male %, ELA Participation Total Female %, ELA Participation Total White %, ELA Participation Total Black or African American %, ELA Participation Total Hispanic or Latino %, ELA Participation Total Asian %, ELA Participation Total Native Hawaiian or Other Pacific Islander %, ELA Participation Total American Indian or Alaska Native %, ELA Participation Total Two or More Races %, ELA Participation Total IEP %, ...]
Index: []

[0 rows x 160 columns]